<div class="row">
  <div class="col-lg-8 offset-2">
    <div class="card" style="width: 25rem; margin: 0 auto;">
      <img [src]="urlImg" alt="" class="card-img-top img-thumbnail">
      <div class="card-body">
        <h5 class="card-title text-center">{{name}}</h5>
        <p class="card-text text-center">{{email}}</p>
        <p class="card-text text-center">{{gender}}</p>
        <p class="card-text text-center">{{status}}</p>
        <button class="btn btn-primary btn-block" routerLink='/dashboard'>Volver</button>
      </div>
    </div>
  </div>
</div>